<div class="offcanvas offcanvas-start bg-body-tertiary" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      
    <div class="offcanvas-body">
      <ul class="list-unstyled m-3">
        <li class="my-4"><a href="{% url 'index' %}" class="text-decoration-none"><i class="fa-solid fa-house fa-lg"></i> Home</a></li>
        <li class="my-4"><a href="{% url 'add-position' %}" class="text-decoration-none"><i class="fa-solid fa-plus fa-lg"></i> Add Position</a></li>
        <li class="my-4"><a href="{% url 'manage-positions' %}" class="text-decoration-none"><i class="nav-icon fas fa-th"></i> Manage Positions</a></li>
        <li class="my-4"><a href="{% url 'add-employee' %}" class="text-decoration-none"><i class="fa-solid fa-plus fa-lg"></i> Add Employee</a></li>
        <li class="my-4"><a href="{% url 'manage-employees' %}" class="text-decoration-none"><i class="nav-icon fas fa-th"></i> Manage Employees</a></li>

      </ul>
      
    </div>
</div>