
#offcanvasExample{
    width: 270px;
}

footer{
    bottom: 0;
    margin-left: 600px;
}
.main-content{
    margin-top: 80px;
    margin-left: 280px;
    
}

@media (min-width:992px) {
    #offcanvasExample{
        transform: none;
        visibility: visible;
        height: calc(100%-56px);
        top: 56px;
    }
}